* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #2f2f33;
    font-family: system-ui, sans-serif;
}

.app {
    min-height: 100vh;
    background: #eaeaea;

    padding: 16px;
    padding-bottom: 96px;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 96px;

    background: #b3b3b3;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-menu img {
    width: 28px;
    height: 28px;
    display: block;
}
